<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/public/res/styles.css">
    <title>Document</title>
</head>

<body>
    <main>
        <section id="form_container">
            <h1>Welcome HOMEPAGE!</h1>
            <h1>Your schedules</h1>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">First Name: </th>
                        <th scope="col">Surname: </th>
                        <th scope="col">Day: </th>
                        <th scope="col">Start At: </th>
                        <th scope="col">End At: </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <%for(let i=0; i<result.length; i++){ %>
                        <tr>
                            <td><%=result[i].first_name%></td>
                            <td><%=result[i].surname%></td>
                            <%switch(<%=result[i].day%>){%>
                                <%case 1:%>
                                    <td>Monday</td>
                                    <%break;%>
                                 <%case 2:%>
                                    <td>Tuesday</td>
                                    <%break;%>
                                <%case 3:%>
                                    <td>Wednesday</td>
                                    <%break;%>
                                <%case 4:%>
                                    <td>Thursay</td>
                                    <%break;%>
                                <%case 5:%>
                                    <td>Friday</td>
                                    <%break;%>
                                <%case 6:%>
                                    <td>Saturday</td>
                                    <%break;%>
                                <%case 7:%>
                                    <td>Sunday</td>
                                    <%break;%>
                            <%}%>
                            <td><%=result[i].to_char%></td>
                            <td><%=result[i].end_at%></td>
                        </tr>
                        <%}%>
                </tbody>
            </table>

        </section>
    </main>
</body>

</html>