<section id="form_container">
            <h1>Welcome HOMEPAGE!</h1>
            <h1>Your schedules</h1>

            <table id="table_schedules">
                <thead>
                    <tr>
                        <th scope="col">First Name: </th>
                        <th scope="col">Surname: </th>
                        <th scope="col">Day: </th>
                        <th scope="col">Start At: </th>
                        <th scope="col">End At: </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <% for(let i=0; i < result.length; i++) { %>
                        <tr>
                            <td><%= result[i].first_name %></td>
                            <td><%= result[i].surname %></td>
                            <td><%= result[i].day %></td>
                            <td><%= result[i].start_at %></td>
                            <td><%= result[i].end_at %></td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </section>
   